@import url('https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet" rel="stylesheet');

body {
    font-family: 'Girassol', cursive;
    background-image: linear-gradient( #D8BFD8 , #9370DB);
    color:   #696969;
    margin: 0;
}

a {
    color: antiquewhite;
}

p {
    text-align: justify;
    line-height: 1.5em;
    /* word-break: break-all; */
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

ul, ol{
    line-height: 1.5em;
}

h1 {
    font-size: 3em;
    line-height: 1em;
    font-weight: 200;
    color: navajowhite;
    text-shadow: 2px 2px 1px #383535;
    
}

h2, h3, h4{
    margin-top: 2em;
}

.tagline a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 30%;
}

.toc ol {
    background-color: black;
    padding: 1em 0;
    border-radius: .5ex;
}

.toc ol li {
    list-style-position: inside;
    color: white;
    margin-left: 2em;
}

.toc ol li a {
    font-size: 80%;
    text-decoration: none;
    font-weight: 700;
    text-shadow: 2px 2px 1px black;
}

#container {
    margin: 3em auto;
    width: 85%;
    max-width: 600px;
    /*text-shadow: 1px 1px 0 #343433;*/
}

footer {
    text-align: center;
    background-color: orange;
    font-size: 12px;
    padding: 2em;
}